@import "_variables"
.header
  background-color: #1e3f7c
  max-width 200px
  height 100vh
  width: 110px
  .nav
    padding: unity
    height 100%
    &__list
      font-small()
      display: flex
      flex-direction: column
      justify-content: space-evenly
      height 100%
      &--element
        height 20px
        width: 100%
        border-bottom: 1px solid font-color

@media screen and (max-height 500px)
  .header
    height 140vh
    
@media screen and (min-width 700px)
  .header
    width: 220px
    .nav__list
      font-big()
      &--element
        height 40px