@import "_variables"
.sections
  background-color: #1e3f7c
  max-width 200px
  max-height: 100vh
  height 100%
  width: 90px
  & nav
    & ul
      font-normal()
      display: grid
      align-content: space-around
      height 100vh
      text-align: center
    

@media screen and (min-width 700px)
  .sections
      width: 220px
    // & nav
    //   & ul