unity = 10px
font-color = #fcfcfc
background-color = #1a1a1a

font-small()
  font-size: .7em

font-normal()
  font-size: 1em

font-big()
  font-size: 1.5em


font-bold()
  font-size: 12px
  font-weight: bold

font-h1()
  font-weight: bold
  font-size: 50px

font-h2()
  font-weight: bold
  font-size: 25px

font-h3()
  font-weight: bold
  font-size: 20px
