@import "../foundations/_variables"
@import "../foundations/_default"
body
  display: grid
  grid-template-columns: auto auto
  grid-template-areas: "header body"
  width: 100vw
  align-content: space-around
  grid-column-gap: 32vw

.header
 grid-area: header

.main 
  width: 70vw
  grid-area: body
  & h4
    text-align: center
    margin-bottom: unity * 4

.section
  text-align: center
  font-medium()
  margin-bottom: unity * 2

.components
  padding-right: unity 
  display: flex
  flex-direction: column
  justify-content: space-around
  height 100%
  max-width 100%
  & h1
    font-h3()
  & h2
    font-normal()

.container
  &__name
    font-normal()
    text-align: center
  &__use
    font-small()
  & ul
    margin-bottom: unity *6
    background-color: gray
    padding: unity

@media screen and (max-width 250px)
  body
    grid-column-gap: 45vw
  .section
    font-big()

@media screen and (min-width 600px)
  body
    grid-column-gap: 25%
  

@media screen and (min-width 699px)
  .body
    grid-column-gap: 30%
  .main
    width: 65vw

@media screen and (min-width 700px)
  body
    grid-column-gap: 28%

@media screen and (min-width  1000px)
  body
    grid-column-gap: 15%