header(class="sections")
  nav
    ul
      li
        a(href="#") Principios
      li
        a(href="#") Sistema
      li
        a(href="#") Foundations
      li
        a(href="#") Componentes
      li
        a(href="#") Iteración