header(class="header")
  nav(class="nav")
    ul(class="nav__list")
      li(class="nav__list--element")
        a(href="#") Principios
      li(class="nav__list--element")
        a(href="#") Sistema
      li(class="nav__list--element")
        a(href="#") Foundations
      li(class="nav__list--element")
        a(href="#") Componentes
      li(class="nav__list--element")
        a(href="#") Iteración