@import "../foundations/_variables"
.header a
  color #0d0d0d
.header
  grid-area: header
  position fixed
  background-color: #e1a222
  height 102vh
  width: 100px
  .nav
    padding: unity
    height 100vh
    &__list
      font-small()
      display: flex
      flex-direction: column
      justify-content: space-evenly
      height 100%
      &--element
        color: #0d0d0d
        height 20px
        width: 100%
        border-bottom: 1px solid #1a1a1a

.animate__fadeInLeft
  animation-duration: 1s

@media screen and (min-width 200px)
  .header
    height 115vh
    .nav
      height 115vh

@media screen and (min-width 319px)
  .header
    height 102vh

@media screen and (max-height 500px)
  .header
    height 102vh
    
@media screen and (min-width 700px)
  .header
    width: 220px
    .nav__list
      font-big()
      &--element
        height 40px
