@import "../foundations/_variables"
.header
  grid-area: header
  position fixed
  background-color: #e1a222
  max-width 200px
  height 100vh
  width: 110px
  .nav
    padding: unity
    height 100%
    &__list
      font-small()
      display: flex
      flex-direction: column
      justify-content: space-evenly
      height 100%
      &--element
        color: #0d0d0d
        // box-shadow: inset 0px -1px 0px 0px #000
        height 20px
        width: 100%
        border-bottom: 1px solid #1a1a1a

.animate__fadeInLeft
  animation-duration: 1s
@media screen and (max-height 500px)
  .header
    height 120vh
    
@media screen and (min-width 700px)
  .header
    width: 220px
    .nav__list
      font-big()
      &--element
        height 40px