header(class="header animate__animated animate__fadeInLeft")
  nav(class="nav")
    ul(class="nav__list")
      li(class="nav__list--element")
        a(href="./src/sections/html/principios.html") Principios
      li(class="nav__list--element")
        a(href="./src/sections/html/sistema.html") Sistema
      li(class="nav__list--element")
        a(href="./src/sections/html/foundations.html") Foundations
      li(class="nav__list--element")
        a(href="./src/sections/html/componentes.html") Componentes
      li(class="nav__list--element")
        a(href="./src/sections/html/iteracion.html") Iteración