-linkInicio = "/design-system"
-linkPrincipios = "./principios.html"
-linkSistema = "./sistema.html"
-linkFoundations = "./foundations.html"
-linkComponentes = "./componentes.html"
-linkIteracion = "./iteracion.html"