@import "../../../styl/foundations/_variables"
@import "../../../styl/foundations/_default"
// @import "../../../../../styl/main/_display"
@import "../../../styl/components/_nav"
body
  display: grid
  grid-template-columns: auto auto
  grid-template-areas: "header body"
  max-height: 100vh
  width: 100vw
iframe
  overflow: scroll
  margin-left: 100px
  margin-top: 20vh
  grid-area: main
  width: 70vw
  height 60vh