-linkInicio = "../../../../index.html"
-linkPrincipios = "../../html/principios/principios.html"
-linkSistema = "../../html/sistema/sistema.html"
-linkFoundations = "../../html/foundations/foundations.html"
-linkComponentes = "../../html/componentes/componentes.html"
-linkIteracion = "../../html/iteracion/iteracion.html"